<!-- footer.html -->
<footer id="main-footer" class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <div class="logo-footer">
        <a href="../pages/index.html">
          <img class="logo-ticket" src="../assets/icons/ticket.png" />
          Eventify
        </a>
      </div>
      <p>
        Connecting people to unforgettable experiences through simple, secure,
        and seamless ticketing.
      </p>
    </div>
    <div class="footer-section">
      <h3>Services</h3>
      <ul>
        <li>Ticket Purchase</li>
        <li>Event Promotion</li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Assistance to the organizers</h3>
      <ul>
        <li>Upload event details</li>
        <li>Promote events</li>
        <li>Track ticket sales</li>
      </ul>
    </div>
  </div>
</footer>
